@font-face{
    font-family: gabelisa;
    src: url("../font/gabelisa/GabelisaFontbyKeithzo.otf") format("opentype");
}

@font-face{
    font-family: frederickathegreat;
    src: url("../font/frederickathegreat/FrederickatheGreat-Regular.ttf") format("truetype");
}

@font-face{
    font-family: montserrat;
    src: url("../font/[Montserrat]/Montserrat-VariableFont_wght.ttf") format("truetype");
}






.p1{
    background-image: url("../img/p1bg.png");
    width: 100%;
    height: 100vh;
}

.nlogo{
    width: 50%;
}

.h11{
    font-family: gabelisa;
}

.h12{
    font-family: frederickathegreat;
}

.h13{
    font-family: montserrat;
}

.h14{
    font-family: frederickathegreat;
}

.abimgp1{
    position: absolute;
    width: 82%;
    top: 17%;
}


/* -------------------------------------------------------------------------- */

.p2{
    background-image: url("../img/p2/Rectangle.png");
    background-position: center;
    background-repeat: no-repeat;
}


.p2h1{
    font-family: frederickathegreat;
    font-size: 40px;
}
.p2p{
    font-family: montserrat;
}
.p2img{
    width: 50%;
}





