@font-face{
    font-family: gabelisa;
    src: url("../font/gabelisa/GabelisaFontbyKeithzo.otf") format("opentype");
}

@font-face{
    font-family: frederickathegreat;
    src: url("../font/frederickathegreat/FrederickatheGreat-Regular.ttf") format("truetype");
}

@font-face{
    font-family: montserrat;
    src: url("../font/[Montserrat]/Montserrat-VariableFont_wght.ttf") format("truetype");
}


/* ------------------------------------navbar------------------------------------- */

.scrolled-down{
    transform:translateY(-100%); 
    transition: all 0.3s ease-in-out;
    /* background: white; */
  }
  .scrolled-up{
    transform:translateY(0); 
    transition: all 0.3s ease-in-out;
    /* background-color: white; */
  }


  .nm{
    font-family: montserrat;
    font-weight: 700;
  }



/* -----------------------------------------part 1----------------------------------------------- */


.p1{
    background-image: url("../img/p1bg.png");
    width: 100%;
    /* height: 100vh; */
}

.ni2{
    padding-right: 0px;
    margin-right: 0px;
}

.p1r{
    z-index: 10;
    position: relative;
}

.nlogo{
    width: 35%;
}

.h11{
    font-family: gabelisa;
}

.h12{
    font-family: frederickathegreat;
}

.h13{
    font-family: montserrat;
}

.h14{
    font-family: frederickathegreat;
}

.abimgp1{
    position: absolute;
    width: 82%;
    top: 17%;
    z-index: -1;
}

.nb{
    font-family: montserrat;
    text-align: center;
    border-color: black;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
    background:  transparent;
     height:  44px;
     line-height:  40px;
     border:  1px solid rgb(0, 0, 0);
     display:  inline-block;
     float:  none;
     text-align:  center;
     width:  200px;
     padding:  0px!important;
     font-size:  14px;

}


/* ------------------------------------part 2-------------------------------------- */

.p2{
    background-image: url("../img/p2/Rectangle.png");
    background-position: center;
    background-repeat: no-repeat;
}

.nb2{
    font-family: montserrat;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
     height:  40px;
     line-height:  40px;
     background-color: #ffe001;
     display:  inline-block;
     float:  none;
     text-align:  center;
     width:  150px;
     padding:  0px!important;
     font-size:  13px;
}

.p2h1{
    font-family: frederickathegreat;
    font-size: 40px;
    
}
.p2p{
    font-family: montserrat;
}
.p2img{
    width: 50%;
}


/* ---------------------------------part 3--------------------------------- */


.p3c h6{
    font-family: montserrat;
}

.p3c h1{
    font-family: frederickathegreat;
    font-size: 40px;
}

.p3c p{
    font-family: montserrat;
}

.carousel .carousel-indicators button {
    width: 10px;
   height: 10px;
   border-radius: 100%;
   background-color: yellow ;
 }

 .nb3{
    font-family: montserrat;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
    height: 40px;
    line-height: 20px;
    background-color: #ffe001;
    display: inline-block;
    float: none;
    text-align: center;
    width: 332px;
    font-size: 13px;
    border: none;
    border-radius: 5px;

 }

 .if{
    font-family: montserrat;
    /* font-size: 10px; */
 }
 
 /* -----------------------------------------part 4----------------------------------------- */



 .p4d1{
    background-image: url(../img/p4/c1.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 401px;
    font-family: montserrat;
 }
 .p4d21{
    background-image: url("../img/p4/c2.png");
    background-position: center;
    background-repeat: no-repeat;
    font-family: montserrat;
    height: 225px;
 }
 .p4d22{
    background-image: url("../img/p4/c3.png");
    background-position: center;
    background-repeat: no-repeat;
    font-family: montserrat;
    height: 192px;
 }
 

 /* ----------------------------------contact us----------------------------------- */




 .cuc h5{
    font-family: montserrat;
 }

 .cuc h1{
    font-family: frederickathegreat;
 }


 /* ---------------------------------footer----------------------------------- */

 .footer{
    background-image: url("../img/footerbg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /* height: 446px; */
 }

 .fr1 img{
    width: 40%;
 }

.headerww{
    width: 100%;

}

.fi1{
    width: 10px;
}

.fi2{
    width: 10px;
}








